/*Reset CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #FFCECF;
    color: #00669F;
    padding: 20px 0;
    position: relative;
}

nav {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
}

.nav-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-container ul li {
    margin-right: 10px;
	text-decoration: none;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
}

.nav-container ul li:hover {
    color: #9A0002;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
}

.header-content img {
	float: left;
	width: 250px;
	margin-left: 80px;
}

.header-text h1 {
    margin: 5px;
}

.header-text p {
    margin: 5px;
}

section {
    padding: 20px;
}

#personal-info, #experience, #showcase {
    border-bottom: 1px solid #0004D4;
    margin-bottom: 20px;
}

#personal-info h2, p, #experience h2, p, ul li {
	margin-left: 60px;
	
}

section {
    padding: 20px;
}

#showcase, h2 {
	margin: 40px;
}

.showcase-gallery {
    display: flex;
    flex-wrap: wrap;
}

.product {
    margin: 20px;
	flex: 1 1 calc(10px - 80px);
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    display: block;
}
.product p {
	float: left;
	margin: 0px;
}

.product input {
	margin-top: 10px;
	background: #FFCECF;
	color: white;
	padding: 12px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.product input:hover {
	background:  #9A0002;
}

#contact {
	margin-left: 60px;
}

input[type=text], select, textarea {
  	width: 100%;
  	padding: 12px;
  	border: 1px solid #ccc;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}

input[type=submit] {
  	background: #04AA6D;
  	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type=submit]:hover {
  	background: #9A0002;
}

.column {
  	float: left;
  	width: 50%;
  	margin-top: 6px;
  	padding: 20px;
}

.row:after {
  	display: table;
  	clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

footer {
    text-align: center;
    padding: 40px;
    background:#FFCECF;
    color: #00669F;
}

footer a {
	text-align: center;
    color:#00669F;
    margin: 20px;
    text-decoration: none;
}

footer a:hover {
	color: #9A0002;
}